body {
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background-attachment: fixed;
    text-align: center;
    padding: 50px;
    max-width: 980px;
    margin: 0 auto;
    color: #fff;
}

h1 {
    color: #fff;
}

img {
    width: 120px;
    height: 120px;
    background-color: #fff;
    border-radius: 120px;
}

p {
    margin-bottom: 50px;
}

a {
    display: block;
    border: 2px solid #fff;
    margin-bottom: 15px;
    padding: 18px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 100px;
    transform: scale(1.1);
    letter-spacing: 20px;
}


